<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') %>

    <body>
        <%-include('layouts/navbar') %>
            <header>
                <h1>Driver Details</h1>
            </header>
            <main id="examiner-root">
                <div id="filter-driver">
                    <label for="driverType">Filter Drivers:</label>
                    <select name="driverType" id="driverType">
                        <option value="all">All</option>
                        <option value="g2">G2 Drivers</option>
                        <option value="g">G Drivers</option>

                    </select>
                </div>
                <div id="data-display">
                <%data.forEach(driver => {%>
                    <div id="drivers-info">
                        <div id="driver-name">
                                <a id="driver-link" href=<%= "/driver/"+ driver._id%>>
                                <p><%= driver.FName%> <%= driver.LName%></p>
                                </a>
                            </div>
                            <div id="carinfo-parent">
                                <p>Car Details:</p>
                                <div id="car-info">
                                    <p>Make: <%= driver.carDeatils.make%></p>
                                    <p>Model: <%= driver.carDeatils.model%></p>
                                    <p>Plate Number: <%= driver.carDeatils.plateNumber%></p>
                                </div>
                            </div>
                        </div>
                <% }); %>
            </div>
            </main>
        <%- include('layouts/scripts') %>
    </body>

</html>
<!-- 
    ? Student Name: Meet Yogesh Panchal
    ? Student Id: 8771023
 -->